body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    display: flex;  
    background-color:#d3d3d3;
}  

/* Vertical Navbar Styles */  
.navbar {  
    height: 100vh; /* Full height */  
    width: 170px;  /* Width of the navbar */  
    background-color: #041181; /* Navbar background */  
    padding-top: 20px;  
    position: fixed; /* Fixed positioning */  
}  

.navbar-left {  
    left: 0; /* Position navbar on the left */  
}  

.navbar-right {  
    right: 0; /* Position navbar on the right */  
}  

.navbar a {  
    padding: 15px 20px;  
    text-decoration: none;  
    color: white;  
    display: block; /* Make links adjustable */  
    transition: background-color 0.3s; /* Smooth transition */  
    text-align:center;
}  

.navbar a:hover {  
    background-color: #2735f8; /* Darker background on hover */  
}  

/* Main Content */  
.content {  
    margin-left: 220px; /* Space for the left navbar */  
    margin-right: 220px; /* Space for the right navbar */  
    padding: 20px;  
}